body {
	margin: 0;
	height: 100vh;
}

#map {
	height: 70%;
}

#matrix {
	height: 30%;
}

.leaflet-popup-pane,
.leaflet-control {
	user-select: none;
}

.leaflet-control {
	font-size: 18px;
	line-height: 1.75;
}
